.wrapper {
    font-family: sans-serif;
    color: #333;
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    margin: 50px auto;
    line-height: 1.6em;
}

.top-section {
    padding-bottom: 20px;
}

.padding-bottom {
    padding-bottom: 20px;
}

h2 {
    margin-bottom: 2rem;
}