<link rel="stylesheet" href="{{ url_for('static', filename='css/movie.css') }}">
{% extends 'layout.html' %}
{% block content %}

<div class="padding-bottom">
    <h3>Year</h3>
    {{ movie.year }}
</div>

<div class="padding-bottom">
    <h3>Description</h3>
    {{ movie.description }}
</div>

<div class="padding-bottom">
    <h3>Cast</h3>
    <!-- Should add a thing in here that flags if no roles in DB -->
    <div class="movie-cast-table">
        {% for person in movie.actors %}
            <div class="row">
                <div class="column actor">{{ person.actor }}</div>
                <div class="column role">{{ person.role }}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
